// --- BASE ---

$font-family: sans-serif;
$font-size: 18px;

// --- LOADER ---

$loader-bounce-size: 18px;
$loader-bounce-number: 3;

$loader-size: $loader-bounce-size * 1.4 * $loader-bounce-number;
$loader-time: 1.4s;
