html {
  font-family: $font-family;
  font-size: $font-size;

  height: 100%;

  color: sscolor("light");
  background-color: sscolor("dark");
}

body {
  position: relative;

  min-height: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    text-align: center;
  }
}

a {
  text-decoration: none;

  color: sscolor("primary");
}
