html {
  font-size: $font-size;
  font-family: $font-family;

  height: 100%;

  background-color: sscolor("dark");
  color: sscolor("light");
}

body {
  min-height: 100%;
}

@for $i from 1 through 6 {
  h#{$i} {
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: sscolor("primary");
}
