<toolbar></toolbar>

<div class="panel small">
  <div class="header">
    <h3>Úlohy</h3>
  </div>

  <ul class="unstyled">
    <li ng-repeat="task in tasks">
      <button class="button button-full" ng-click="show(task)">{{ task.title }}</button>
    </li>
  </ul>
</div>

<div class="panel">
  <div class="header">
    <h3>Detaily</h3>
  </div>

  <h4>{{ details.name || details.title }}</h4>
  <div marked="details.description"></div>

  <h4 ng-show="details">Štatistiky</h4>
  <p ng-show="details.oxygen">Kyslík: {{ details.oxygen * 100 }}%</p>
  <p ng-show="details.health">Zdravie / Výdrž: {{ details.health * 100 }}%</p>
  <p ng-show="details.reliability">Spolahlivosť: {{ details.reliability * 100 }}%</p>
  <p ng-show="details.works !== undefined">Funguje: <span ng-show="details.works">Áno</span><span ng-show="!details.works">Nie</span></p>
</div>

<div class="panel-group flex column">
  <div class="panel small flex-auto">
    <div class="header">
      <h3>Posádka</h3>
    </div>

    <ul class="unstyled">
      <li ng-repeat="member in crew">
        <button class="button button-full" ng-click="show(member)">{{ member.name }}</button>
      </li>
    </ul>
  </div>

  <div class="panel small flex-auto">
    <div class="header">
      <h3>Časti</h3>
    </div>

    <ul class="unstyled">
      <li ng-repeat="part in parts">
        <button class="button button-full" ng-click="show(part)">{{ part.name }}</button>
      </li>
    </ul>
  </div>
</div>
